# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea

# dependencies
/client/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/client/.next/
/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# local env files
/client/.env*.local
/client/.env
/server/.env

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts


/server/temp