.loading{
  animation: fade-in 0.5s forwards;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.contour-wrapper{}

.contour{
  animation: rotation 1.8s ease-in-out infinite;
  width: 15vw;
  height: 15vw;
  background: url("./img/contour.svg") center/contain no-repeat;
}
.loading-text{
  margin-top: 2vw;
  font-style: normal;
  font-weight: 200;
  font-size: 1.354166vw;
  line-height: 144.4%;
  text-transform: uppercase;
  color: #000000;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  43%{
    transform: rotate(360deg);
  }
  50%{
    transform: rotate(360deg);
  }
  85%{
    transform: rotate(720deg);
  }
  100%{
    transform: rotate(720deg);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}