@font-face {
  font-family: "Noto Sans";
  src: url('../public/assets/fonts/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url('../public/assets/fonts/WorkSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../public/assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --navbar-height: 100px;
  white-space: pre-line;
  color-scheme: only light;
  color-scheme: only light;
}


@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

button {
  transition: 0.2s;
  scale: 1;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
